html,
body {
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  overflow: hidden;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}

#note {
    position: absolute;
    color: rgba(249,241,204,1);
    left: 0;
    right: 0;
    bottom: 22em;
    margin: unset;
    text-align: center;
    user-select: none;
    font-family: 'Exo 2', sans-serif;
}

.list-group-item {
  margin: 2px;
}

.navbar {
  background: black;
}
.mynav {
   background: black;
   color: white;
   font-family: 'Exo 2', sans-serif;
   margin: 2px;
}

.mylink {
  color: white;
  font-family: 'Exo 2', sans-serif;
}

.mycontent {
  font-family: 'Exo 2', sans-serif;
}
.mynav a:hover{
  color: blueviolet;
}

.postLink {
  color: rgba(249,241,204,1);
  font-family: 'Exo 2', sans-serif;
  text-decoration: none;
}

.listLink a:hover {
    color: blueviolet;
}



.user_href a:hover {
    color: blueviolet;
}


