{% extends 'blog/base.html' %}
{% block content %}

    <div class="container align-content-center justify-content-center">
        <h1>Welcome to the about page!</h1>
        <br>
<!--        <img class="pic_profile" src="../../static/img/IMG_0265.jpg" alt="Picture"/>-->
        <p class="about_detail">Welcome to my corner of the web! I'm Presley Black, a retired Air Force veteran who has embarked on an exhilarating journey into the world of web development. After serving in the Air Force, I discovered my passion for coding and dove headfirst into honing my skills.
        Fueling my enthusiasm for web development, I graduated from Codeup, a dynamic coding bootcamp that equipped me with the latest tools and techniques. I also delved into the intricacies of Python coding through an intensive web development boot camp on Udemy, expanding my knowledge and capabilities in this dynamic field.
        My mission now is to blend my military precision and dedication with the creativity and innovation of coding. Through this blog, I aim to share my experiences, insights, and discoveries as I continue to explore the ever-evolving landscape of web development. Join me on this exciting journey as we navigate the digital realm together.</p>
    </div>
{% endblock %}