{% extends "posts/post_base.html" %}
{% block prepost %}
    <div class="col-md-4 p-2">
        {% if request.user.is_authenticated %}
        <h1 class="title">Your Groups</h1>
        <br>
                <div class="content">
                    <ul class="list-unstyled listLink">
                        {% for member_group in get_user_groups %}
                        <p><li><a class="mylink postLink" href="{% url 'groups:single' slug=member_group.slug %}">{{ member_group.name }}</a></li></p>
                        {% endfor %}
                    </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block post_content %}
    <div class="col-md-8">
        <h1>Posts!</h1>
        <br>
        {% for post in post_list %}
            {% include "posts/_post.html" %}
        {% endfor %}
         <!-- Pagination links -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
    </div>
{% endblock %}