{% extends 'posts/post_base.html' %}
{% block prepost %}
    <div class="col-md-4">
        <h1>Welcome</h1>
        <br>
        <h1>@{{post_user.username}}</h1>
    </div>
{% endblock %}
{% block post_content %}
    <div class="col-md-8">
        <h2>Posts!</h2>
        <br>
        {% for post in post_list %}
            {% include 'posts/_post.html' %}
        {% endfor %}
         <!-- Pagination links -->
    <div class="pagination justify-content-start">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
    </div>
{% endblock %}