{% extends "groups/group_base.html" %}
{% block pregroup %}
    <div class="col-md-4">
        <div class="content">
            {% if user.is_authenticated %}
            <br>
                <h2 class="user_href">Welcome!
                    <br>
                    <a href="{% url 'posts:for_user' username=user.username %}">
                    @{{user.username}}
                </a></h2>
            {% endif %}
        </div>
        <br>
        {% if user.is_authenticated %}
            <a href="{% url 'groups:create' %}" class="btn btn-md btn-light"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>Create new group</a>
        {% endif %}
    </div>
{% endblock %}
{% block group_content %}
    <br>
    <div class="col-md-8">
        <div class="list-group list-group-item-secondary">
             <h1>Groups!</h1>
            {% for group in page_obj %}
                <a class="list-group-item" href="{% url 'groups:single' slug=group.slug %}">
                    <h3 class="title list-group-item-heading">{{group.name}}</h3>
                    <div class="list-group-item-text container-fluid">
                        {{group.description_html|safe}}
                        <div class="row">
                            <div class="col-md-4">
                                <span class="badge rounded-pill text-bg-dark">{{group.members.count}}</span>
                                Member {{group.members.count|pluralize}}
                            </div>
                            <div class="col-md-4">
                                <span class="badge rounded-pill text-bg-dark">{{group.posts.count}}</span>
                                Post{{group.posts.count|pluralize}}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <!-- Pagination links -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}